#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgb(99, 11, 30);
}

.img {
    width: 50%;
}
